{% set image = image ?? false %}
{% set aspectRatio = aspectRatio ?? false %}
{% set background = background ?? 'bg-grey-lightest' %}
{% set transform = transform ?? false %}
{% set cropPosition = cropPosition ?? 'center' %}
{% set quality = quality ?? 80 %}
{% set dummy = dummy ?? false %}

{% if aspectRatio %}
	{% switch aspectRatio %}

		{% case "16x9" %}
			{% set classes = 'ar ar-16x9' %}
			{% set transform = {
			    mode: 'crop',
			    width: 640,
			    height: 360,
			    quality: quality,
			    position: cropPosition
			} %}
			{% set transformRetina = {
			    mode: 'crop',
			    width: 1200,
			    height: 675,
			    quality: quality,
			    position: cropPosition
			} %}
			{% if dummy %}
				{% set image = 'https://picsum.photos/640/360/?random' %}
				{% set retinaImage = 'https://picsum.photos/1200/675/?random' %}
			{% endif %}

		{% case "4x3" %}
			{% set classes = 'ar ar-4x3' %}
			{% set transform = {
			    mode: 'crop',
			    width: 640,
			    height: 480,
			    quality: quality,
			    position: cropPosition
			} %}
			{% set transformRetina = {
			    mode: 'crop',
			    width: 1200,
			    height: 900,
			    quality: quality,
			    position: cropPosition
			} %}
			{% if dummy %}
				{% set image = 'https://picsum.photos/640/480/?random' %}
				{% set retinaImage = 'https://picsum.photos/1200/900/?random' %}
			{% endif %}

		{% case "3x2" %}
			{% set classes = 'ar ar-3x2' %}
			{% set transform = {
			    mode: 'crop',
			    width: 600,
			    height: 400,
			    quality: quality,
			    position: cropPosition
			} %}
			{% set transformRetina = {
			    mode: 'crop',
			    width: 1200,
			    height: 800,
			    quality: quality,
			    position: cropPosition
			} %}
			{% if dummy %}
				{% set image = 'https://picsum.photos/600/400/?random' %}
				{% set retinaImage = 'https://picsum.photos/1200/800/?random' %}
			{% endif %}

		{% case "2x1" %}
			{% set classes = 'ar ar-1x1' %}
			{% set transform = {
			    mode: 'crop',
			    width: 640,
			    height: 320,
			    quality: quality,
			    position: cropPosition
			} %}
			{% set transformRetina = {
			    mode: 'crop',
			    width: 1200,
			    height: 600,
			    quality: quality,
			    position: cropPosition
			} %}
			{% if dummy %}
				{% set image = 'https://picsum.photos/640/320/?random' %}
				{% set retinaImage = 'https://picsum.photos/1200/600/?random' %}
			{% endif %}

		{% case "1x1" %}
			{% set classes = 'ar ar-1x1' %}
			{% set transform = {
			    mode: 'crop',
			    width: 640,
			    height: 640,
			    quality: quality,
			    position: cropPosition
			} %}
			{% set transformRetina = {
			    mode: 'crop',
			    width: 1200,
			    height: 1200,
			    quality: quality,
			    position: cropPosition
			} %}
			{% if dummy %}
				{% set image = 'https://picsum.photos/640/640/?random' %}
				{% set retinaImage = 'https://picsum.photos/1200/1200/?random' %}
			{% endif %}

	{% endswitch %}

	{% set classes = [
		'image loading',
	    classes,
	    background,
	]|filter|join(' ') %}

	<div class="{{ classes }}">
		<img class="block lazyload"
			 data-sizes="auto"
			 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
			 data-src="{{ dummy ? image : image.getUrl(transform) }}"
			 data-srcset="{{ dummy ? image : image.getUrl(transform) }} 640w,
			 			  {{ dummy ? retinaImage : image.getUrl(transformRetina) }} 1200w">
		<noscript>
			<img class="image-fallback block" src="{{ dummy ? image : image.getUrl(transform) }}">
		</noscript>
	</div>

{% endif %}






