{# Field Options Available #}
{# In addition to the input options that are passed through the following can be set for the field. #}

{#
	label: "myfieldLabel",
	instructions: "Some help text",
	fieldClass: "myfieldClass",
	required: true/false
 #}

{% set input = input ?? null %}
{% set name = name ?? '' %}
{% set label = label ?? false %}
{% set type = type ?? 'false' %}
{% set instructions = instructions ?? null %}
{% set error = error ?? '' %}
{% set required = required ?? false %}
{% set forgotPassword = forgotPassword ?? false %}

{% set fieldClass = fieldClass ?? false %}

{% set fieldClasses = [
	'text-left mb-4',
	'js-field',
	(fieldClass ? fieldClass : null),
	(error ? 'is-negative' : null)
]|filter|join(' ') %}

{% set labelClasses = [
	'block',
	'js-fieldLabel',
	(required ? 'is-required' : null),
]|filter|join(' ') %}

<div class="{{ fieldClasses }}">

	{% if label %}
		<label class="{{ labelClasses }}"{% if name %} for="{{ name }}"{% endif %}>
			{{ label|raw }}
			{% if forgotPassword %}
				<a class="text-primary" href="{{ url('forgotpassword') }}">Forgot password?</a>
			{% endif %}
		</label>
	{% endif %}

	{% if input %}
		{{ input|raw }}
	{% endif %}

	{% if instructions %}
		<p class="js-fieldInstruction">{{ instructions|raw }}</p>
	{% endif %}

	<span class="js-fieldErrorMessage">{{ error|raw }}</span>

</div>
