{# Field Wrapper for input #}

{% set input = input ?? null %}
{% set name = name ?? '' %}
{% set label = label ?? false %}
{% set labelClass = labelClass ?? false %}
{% set type = type ?? 'false' %}
{% set instructions = instructions ?? null %}
{% set error = error ?? '' %}
{% set required = required ?? false %}
{% set forgotPassword = forgotPassword ?? false %}
{% set fieldMargin = fieldMargin ?? false %}

{% set fieldClass = fieldClass ?? false %}

{% set fieldClasses = [
	'text-left relative form-field',
	(fieldMargin ? fieldMargin : 'mb-6'),
	(fieldClass ? fieldClass : null),
	(error ? 'is-negative' : null)
]|filter|join(' ') %}

{% set labelClasses = [
	'font-bold antialiased mb-1',
	(type and type == 'dateTime' ? 'md:inline-block' : 'inline-block'),
	(required ? 'is-required' : null),
	(labelClass ?? labelClass ?? null),
]|filter|join(' ') %}

<div class="{{ fieldClasses }}" data-form-field="{{ name }}">

	{% if label %}
		<label class="{{ labelClasses }}"{% if name %} for="{{ name }}"{% endif %}>
			{{ label|raw }}
		</label>
	{% endif %}

	{% if instructions %}
		<p class="text-sm mb-2">{{ instructions|raw }}</p>
	{% endif %}

	{% if input %}
		{{ input|raw }}
	{% endif %}

</div>
