{# Password Input #}

{% set id = id ?? ('input-'~random()) %}
{% set name = name ?? '' %}
{% set type = 'password' %}
{% set value = value ?? '' %}
{% set disabled = disabled ?? false %}
{% set required = required ?? false %}
{% set additionalAttributes = attributes ?? [] %}
{% set forgotPassword = forgotPassword ?? false %}

{% set classes = [
    'input pr-20',
    (inputClass ?? null),
]|filter|join(' ') %}

{% set attributes = [
    (disabled ? 'disabled' : null),
    (required ? 'required' : null),
    ((placeholder ?? false) ? 'placeholder="'~placeholder~'"' : null),
]|merge(additionalAttributes)|filter|join(' ') %}

{% if forgotPassword %}
    <div class="relative">
        <div class="absolute pin-r h-10 flex items-center">
            <a class="block no-underline border-l px-2" href="{{ url('forgotpassword') }}" tabindex="-1">Forgot?</a>
        </div>
        <input id="{{ id }}" class="{{ classes }}" type="{{ type }}" name="{{ name }}" value="{{ value }}"{{ attributes|raw }}>
    </div>
{% else %}
    <input id="{{ id }}" class="{{ classes }}" type="{{ type }}" name="{{ name }}" value="{{ value }}"{{ attributes|raw }}>
{% endif %}
